@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --color1: rgb(77, 138, 42);
  --color2: rgb(146, 37, 110);
  --color3: rgb(77, 138, 42, 0.5);

}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4, h5, h6, p, ul, li {
  margin: 0;
  padding: 0;
}




.container {
  margin: auto;
}

#game {
  border: solid 1px #000;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;

}

.gameRun {
  background-image: url(./img/background.jpg);
}

.gameOver {
  background-image: url(./img/background_over.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.gameContent {
  display: flex;
  flex-flow: column-reverse;
  position: relative;
}

.gameWrapp {
  margin: auto;
}

.gameHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.platform {
  height: 22px;
  border-radius: 15px;
}

.platf_standart {
  background-color: var(--color1);
}

.platf_unsteady {
  background-color: var(--color2);
}

.doodle {
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
}

.doodle_left {
  background-image: url(./img/doodle_left.png);
}

.doodle_right {
  background-image: url(./img/doodle_right.png);
}

.gameNav {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.gameNav button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color1);
  margin: 5px;
}

.gameNav button:hover {
  background-color: var(--color3);
  cursor: pointer;
}

.gameNav button p {
  font-size: 25px;
}